@model EmployeeManagement.ViewModels.HomeDetailsVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details Page";
}

<h1>@Model.PageTitle</h1>

<div>
    Name: @Model.Employee.Name
</div>
<div>
    Email: @Model.Employee.Email
</div>
<div>
    Department: @Model.Employee.Department
</div>

