@model IEnumerable<EmployeeManagement.Models.Employee>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index Page";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th>@employee.Id</th>
                <th>@employee.Name</th>
                <th>@employee.Department</th>
            </tr>
        }
    </tbody>
</table>